<!doctype html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản lý kho vật tư</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: lightgray">Quản lý vật tư</a>
    </nav>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group"
                             style="text-align:center;">
                            <br>
                            <a href="/import-slip/new"
                               class="btn btn-outline-primary"
                               role="button"
                               aria-pressed="true">
                                Menu nhập hàng
                            </a>
                            <br>
                        </div>
                        <div class="form-group"
                             style="text-align:center;">
                            <br>
                            <a href="#"
                               class="btn btn-outline-primary"
                               role="button"
                               aria-pressed="true">
                                Menu xuất hàng
                            </a>
                            <br>
                        </div>
                        <div class="form-group"
                             style="text-align:center;">
                            <br>
                            <a href="#"
                               class="btn btn-outline-primary"
                               role="button"
                               aria-pressed="true">
                                Xem thống kê
                            </a>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = localStorage.clear();
    </script>
</body>
</html>